.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  width: 80%;
  height: 90%;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background: #eee;
  height: 600px;
  min-width: 400px;
  overflow: scroll;
}
.modal-main .details {
  padding-bottom: 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
button.close:hover {
  background-color: #96ccff;
  outline: none;
}
button.close:focus {
  outline: none;
}

.modal-main img {
  width: 250px;
  height: 25%;
}

/***********************
 **** Media Queries ****
***********************/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .modal-main {
    height: 600px;
  }
  .modal-main h2 {
    font-size: 1rem;
  }
  .modal-main .details {
    padding-bottom: 2rem;
  }
}
